/Java/Leccion02/BloquesInicializacion/build/
/Java/Leccion03/ForEach/nbproject/private/
/Java/Leccion03/ForEach/build/
/Java/Leccion03/AutoBoxingUnboxing/nbproject/private/
/Java/Leccion03/AutoBoxingUnboxing/build/
/Java/Leccion03/ModificadoresAcceso/nbproject/private/
/Java/Leccion03/ModificadoresAcceso/build/
/Java/Leccion04/Sobreescritura/nbproject/private/
/Java/Leccion04/Sobreescritura/build/
/Java/Leccion04/InstanceOf/nbproject/private/
/Java/Leccion04/InstanceOf/build/
/Java/Leccion05/ConversionObjetos/nbproject/private/
/Java/Leccion05/ConversionObjetos/build/
/Java/Leccion05/ClaseObject/nbproject/private/
/Java/Leccion05/ClaseObject/build/
/Java/Leccion05/ClasesAbstractas/nbproject/private/
/Java/Leccion05/ClasesAbstractas/build/
/Java/Leccion06/Interface/nbproject/private/
/Python/Excepciones/
/Java/Leccion06/Interface/build/
/Java/Leccion06/JavaBeans/nbproject/private/
/Java/Leccion06/JavaBeans/build/
/Java/Leccion06/ManejoExcepciones1/nbproject/private/
/Java/Leccion06/ManejoExcepciones1/build/
